body {
    background-image:url(Asset/image/background-01.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat
 }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}